USE [master]
GO
/****** Object:  Database [MilesCarRentalDB]    Script Date: 28/02/2024 11:44:41:PM ******/
CREATE DATABASE [MilesCarRentalDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MilesCarRentalDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MilesCarRentalDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MilesCarRentalDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MilesCarRentalDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MilesCarRentalDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MilesCarRentalDB]
GO
/****** Object:  Table [dbo].[Localidades]    Script Date: 28/02/2024 11:44:41:PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Localidades](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Renta]    Script Date: 28/02/2024 11:44:41:PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Renta](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [nvarchar](255) NULL,
	[LocalidadDondeSeEncuentra] [nvarchar](255) NULL,
	[VehiculoId] [int] NULL,
	[LocalidadId] [int] NULL,
	[LocalidadRecogidaId] [int] NULL,
	[LocalidadDevolucionId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehiculos]    Script Date: 28/02/2024 11:44:41:PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehiculos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Modelo] [nvarchar](100) NOT NULL,
	[Marca] [nvarchar](100) NOT NULL,
	[AñoFabricacion] [int] NOT NULL,
	[LocalidadId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Renta]  WITH CHECK ADD  CONSTRAINT [FK_Renta_Localidad] FOREIGN KEY([LocalidadId])
REFERENCES [dbo].[Localidades] ([Id])
GO
ALTER TABLE [dbo].[Renta] CHECK CONSTRAINT [FK_Renta_Localidad]
GO
ALTER TABLE [dbo].[Renta]  WITH CHECK ADD  CONSTRAINT [FK_Renta_LocalidadDevolucion] FOREIGN KEY([LocalidadDevolucionId])
REFERENCES [dbo].[Localidades] ([Id])
GO
ALTER TABLE [dbo].[Renta] CHECK CONSTRAINT [FK_Renta_LocalidadDevolucion]
GO
ALTER TABLE [dbo].[Renta]  WITH CHECK ADD  CONSTRAINT [FK_Renta_LocalidadRecogida] FOREIGN KEY([LocalidadRecogidaId])
REFERENCES [dbo].[Localidades] ([Id])
GO
ALTER TABLE [dbo].[Renta] CHECK CONSTRAINT [FK_Renta_LocalidadRecogida]
GO
ALTER TABLE [dbo].[Renta]  WITH CHECK ADD  CONSTRAINT [FK_Renta_Vehiculos] FOREIGN KEY([VehiculoId])
REFERENCES [dbo].[Vehiculos] ([Id])
GO
ALTER TABLE [dbo].[Renta] CHECK CONSTRAINT [FK_Renta_Vehiculos]
GO
ALTER TABLE [dbo].[Vehiculos]  WITH CHECK ADD FOREIGN KEY([LocalidadId])
REFERENCES [dbo].[Localidades] ([Id])
GO
USE [master]
GO
